<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Sentenças</title>
</head>
<body>

    <form method="POST">
        <h3>Sentenças</h3>

        <hr>
    
        <span>Artigo:</span>
        <input name="artigo" type="text">
    
        <hr>
    
        <span>Descrição:</span>
        <input name="descricao" type="text">
    
        <hr>
    
        <span>Ano de saída:</span>
        <input name="anoSaida" type="text">
    
        <hr>
    
        <span>Visitas?</span>
        <input name="visitas" type="text">
    
        <hr>
    
        <span>Semi-aberto?</span>
        <input name="semiAberto" type="text">
    
        <hr>
    
        <button type="submit">Salvar sentença</button>
    </form>

</body>
</html>