<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
					xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"/>
		<title>Adicionar Policial</title>
	</head>
	<body>

    <form method="POST">
        <h3>Policiais</h3>

        <hr>
    
        <span>Nome:</span>
        <input name="nome" type="text">
    
        <hr>
    
        <span>CPF:</span>
        <input name="cpf" type="text">
    
        <hr>
    
        <span>RG:</span>
        <input name="rg" type="text">
    
        <hr>
    
        <span>Endereço:</span>
        <input name="endereco" type="text">
    
        <hr>
        
        <span>Salario:</span>
        <input name="salario" type="text">
    
        <hr>
        
        <span>Cargo:</span>
        <input name="cargo" type="text">
    
        <hr>
        
        <span>Identificador do policial:</span>
        <input name="id" type="number">
    
        <hr>
    
		<span>Hora de Início:</span>
        <input name="hrInicio" type="text">
    
        <hr>
        
        <span>Hora de Saída:</span>
        <input name="hrFinal" type="text">
    
        <hr>
    
        <button type="submit">Salvar policial</button>
    </form>

</body>
</html>