<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Condenados</title>
</head>
<body>

    <form method="POST">
        <h3>Condenados</h3>

        <hr>
    
        <span>Nome:</span>
        <input name="nome" type="text">
    
        <hr>
    
        <span>CPF:</span>
        <input name="cpf" type="text">
    
        <hr>
    
        <span>RG:</span>
        <input name="rg" type="text">
    
        <hr>
    
        <span>Endereço</span>
        <input name="endereco" type="text">
    
        <hr>
    
        <span>Data-Nascimento</span>
        <input name="dataNascimento" type="text">
        
        <hr>
    
        <span>Nome Mae</span>
        <input name="nomeMae" type="text">
    
        <hr>
  
        <span>Antecedente Criminal</span>
        <input name="antecedenteCriminal" type="text">
        
         <hr>
    
        <span>Sentença</span>
        <input name="sentencas.codigo" type="text">
        
         <hr>
    
        <span>Ocupacoes</span>
        <input name="ocupacoes.codigo" type="text">
    
        <button type="submit">Salvar Condenado</button>
    </form>

</body>
</html>