<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
					xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"/>
		<title>Adicionar Ocupação</title>
	</head>
	
	<body>
		<h1>Nova Ocupação</h1>
		
		<form method="post">
			Nome do Trabalho: <input type="text" name = "nomeTrabalho" value=""/>
			Carga Horária: <input type="text" name = "cargaHoraria" value=""/>
			Setor: <input type="text" name = "setor" value=""/>
			<button type="submit">Salvar</button>
		</form>
	</body>
</html>