<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
					xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"/>
		<title>Adicionar Ocupação</title>
	</head>
	<body>
	
	    <form method="POST">
	    	<h3>Editar Ocupação #<strong th:text="${ocupacao.codigo}"></strong></h3>
	
	        <hr>
	    
	        <span>Nome do Trabalho:</span>
	        <input type="text" name = "nomeTrabalho" th:value="${ocupacao.nomeTrabalho}"/>
	    
	        <hr>
	    
	        <span>Carga Horária:</span>
	        <input type="text" name = "cargaHoraria" th:value="${ocupacao.cargaHoraria}"/>
	    
	        <hr>
	    
	        <span>Setor:</span>
	        <input type="text" name = "setor" th:value="${ocupacao.setor}"/>
	    
	        <hr>
	    
	        <button type="submit">Salvar</button>
	    </form>
	
	</body>
</html>